<style>
    .buttons{
        display: flex;
        gap: 10px;
        overflow: scroll;
    }
</style>
<div class="container buttons">
    <div><a  href="/owner/office_home/" class="my-1 {% if request.path == '/owner/office_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a></div>
    <div><a  href="/owner/redeem/" class="my-1 {% if request.path == '/owner/redeem/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Redeem</a></div>
    <div><a  href="/owner/generate_qr_code/" class="my-1 {% if request.path == '/owner/generate_qr_code/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Generate QR Code</a></div>
    <div><a  href="/owner/add_employee/" class="my-1 {% if request.path == '/owner/add_employee/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Add Employee</a></div>
    <div><a  href="/owner/profile/" class="my-1 {% if request.path == '/owner/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Profile</a></div>
    <div><a  href="/owner/valid_to_date/" class="my-1 {% if request.path == '/owner/valid_to_date/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Valid To Date</a></div>
</div>




