{% for t in tag reversed %}
    <div class="tag_box">
        <div>
            <div>
                <div class="Valid_box"><h6>Valid To- 31 Dec 24<h6></div>
            </div>
            <div class="sr_num_qr_box">
                <div id="sr_nummber"><h6>{{t.sr_num}}</h6></div>
                <div id="img_box"><img src="https://api.qrserver.com/v1/create-qr-code/?size=151x151&data=https://qrofferdemo.narayaniorder.com/customer_scan/{{t.tag_number}}" ></div>
            </div>
        </div>
    </div>
{% endfor %}