 .winner_box {
	position: relative;
	width: 300px;
	height: 300px;
	background: #111;
	border-radius: 15px;
	padding: 6px;
	text-align: center;
	font-size: 1.2rem;
	color: white;
	z-index: 1;
	overflow: hidden; /* Prevent overflow from blurs */
 }



 .winner_box::before {
	content: "";
	position: absolute;
	inset: -65px;
	/*Makethepseudo-elementlargertopreventdarkareas*/background: linear-gradient(135deg, 	    #0894FF 25%,  	    #C959DD 40%, 	    #FF2E54 65%, 	    #FF9004 80%);
	border-radius: 20px;
	/*Increasetheborder-radiusslightlytomatchthenewsize*/filter: blur(15px);
	/*Adjustforfadingatcorners*/z-index: -1;
	/*Keepsthegradientbehindthecontent*/opacity: 1;
	animation: rotate-element 4s linear infinite;
}

 @keyframes rotate-element {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(360deg);
	}
 }